@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .primary-orange-text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-primary-main from-20% via-30% to-color-alt-red
  }

  .home-page-scroll-btn {
    @apply text-white bg-primary-main/75 hover:bg-primary-main/50 rounded
  }

  .home-scroll-container {
    @apply flex flex-col items-start py-12 bg-gradient-to-b from-orange-100 to-orange-200/50 xl:rounded-3xl
  }

  .section-title-text-size {
    @apply text-4xl lg:text-5xl
  }

  .section-desc-text-size {
    @apply text-base lg:text-lg text-gray-600
  }

  .orange-border-shadow {
    @apply border border-orange-200 shadow-lg shadow-primary-main/10
  }

  .add-ingredient-instuction-btn {
    @apply orange-border-shadow pl-4 pr-4 pt-2 pb-2 items-center space-x-1 bg-white border rounded-3xl hover:bg-gray-100 hover:duration-200
  }

}
